body {
    font-family: verdana, geneva, arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
tt { font-family: Courier New, Fixed, monospace; 
     font-weight: bold
} 
pre { display: block;
            overflow: auto;
    font-size: 11px;
}
h1 {
    font-size: 400%;
    margin: 0;
}
h3 {
    margin: 32px 0 0 0;
}
p {
    margin: 0 5em 6pt 0;
    line-height: 150%;
} 
li {
    line-height: 150%;
}
dd {
    line-height: 150%;
    margin-right: 6pt;
}
dt { font-weight: bold;
     margin: 6pt 0 0 0;
     line-height: 150%;
     }
p.tagline {
    margin: 0;
    padding: 0 0 0 4em;
    font-style: italic;
    color: #666;
}
p.lastmodified {
    font-style: italic;
    font-size: 12px;
    color: #666;
    padding-left: 8px;
}
a.styled-button-1 {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	color: black;
	background-color:#ff9126;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none;
	font-size:16px;
	font-weight:700;
	height:32px;
	padding:4px 16px;
        text-decoration: none;
}
.sidebar {
	float: left;
	width: 190px;
	margin: 8px;
}
.pagetext {
	margin-left: 200px;
	margin-top: 20px;
}
