body {
    font-family: verdana, geneva, arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
tt {
	font-family: Courier New, Fixed, monospace; 
	font-weight: bold;
} 
pre {
	font-size: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	width: 80%;
	min-width: 600px;
	word-wrap: normal;
}
h1 {
    font-size: 300%;
    margin: 0;
}
h3 {
    margin: 32px 0 0 0;
}
p {
    margin: 0 5em 6pt 0;
    line-height: 150%;
} 
li {
    line-height: 150%;
}
dd {
    line-height: 150%;
    margin-right: 6pt;
}
dt { font-weight: bold;
     margin: 6pt 0 0 0;
     line-height: 150%;
     }
p.tagline {
    margin: 0;
    padding: 0 0 0 4em;
    font-style: italic;
    color: #666;
}
p.lastmodified {
	font-style: italic;
	color: #666;
}
.logo {
	float: left;
	width: 200px;
	height: 116px;
}
.headline {
	margin-left: 200px;
	margin-top: 6px;
}
.pagetext {
        margin-left: 100px;
	margin-top: 20px;
	margin-top: 6px;
}
.toolbar {
	clear: left;
	background-color:#ff9126;
	padding:16px;
}
.toollinks {
	width: 420px ;
	margin-left: auto ;
	margin-right: auto ;
}
a.toollink {
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	color: black;
}
.toollinks a:hover {
	color:#ff9126;
	background-color:black;
}
.otherlogos img {
	border: 0px;
	padding: 2px;
	margin: 3px;
	display: inline-block;
	vertical-align: middle;
	bottom:0px;
}
