body {
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
}
tt { font-family: Courier, Fixed, monospace; 
     font-size: 15px;
     font-weight: bold
} 
pre { display: block;
            overflow: auto;
            text-align: left;
            border: 1px solid #5581C0;
            padding: 6px 18px 5px 30px;
            margin: 0 0 8px 0;
            font: Courier, Fixed, monospace;
            color: #000;
            font-weight: normal!important;
	    font-size: 12px;
}
h1 {
    font-size: 400%;
    margin: 0;
}
h3 {
    margin: 32px 0 0 0;
}
a {
    color: black;
}
li, dd, dt, a, p {
    font-size: 15px;
}
a:hover {
    background-color: #ff9126;
}
p {
    margin: 0 5em 6pt 0;
    line-height: 150%;
} 
dt { font-weight: bold;
     margin: 6pt 0 0 0 
     }
p.tagline {
    margin: 0;
    padding: 0 0 0 4em;
    font-style: italic;
    color: #666;
}
p.lastmodified {
    font-style: italic;
    font-size: 12px;
    color: #666;
    padding-left: 8px;
}
